<h1>My Planners</h1>

<h2>Current Planners</h2>
<table class="table">
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End date</th>
      <th>Complete</th>
      <th colspan="2"></th>
    </tr>

    <%= content_tag_for(:tr, @plans.current) do |plan| %>
      <td><%= link_to plan.name, plan %></td>
      <td><%= plan.start_date %></td>
      <td><%= plan.end_date %></td>
      <td><%= plan.completed %></td>
      <td><%= link_to '<i class="fa fa-edit fa-2x"></i>'.html_safe, edit_plan_path(plan)%></td>
      <td><%= link_to '<i class="fa fa-trash fa-2x"></i>'.html_safe, plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
</table>

<h2>Future Planners</h2>
<table class="table">
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End date</th>
      <th>Complete</th>
      <th colspan="2"></th>
    </tr>

    <%= content_tag_for(:tr, @plans.future) do |plan| %>
      <td><%= link_to plan.name, plan %></td>
      <td><%= plan.start_date %></td>
      <td><%= plan.end_date %></td>
      <td><%= plan.completed %></td>
      <td><%= link_to '<i class="fa fa-edit fa-2x"></i>'.html_safe, edit_plan_path(plan) %></td>
      <td><%= link_to '<i class="fa fa-trash fa-2x"></i>'.html_safe, plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
</table>

<h2>Past Planners</h2>
<table class="table">
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End date</th>
      <th>Complete</th>
      <th colspan="2"></th>
    </tr>

    <%= content_tag_for(:tr, @plans.past) do |plan| %>
      <td><%= link_to plan.name, plan %></td>
      <td><%= plan.start_date %></td>
      <td><%= plan.end_date %></td>
      <td><%= plan.completed %></td>
      <td><%= link_to '<i class="fa fa-edit fa-2x"></i>'.html_safe, edit_plan_path(plan) %></td>
      <td><%= link_to '<i class="fa fa-trash fa-2x"></i>'.html_safe, plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
</table>


<div class="form-actions">
  <%= link_to 'New Plan', new_plan_path, class: 'btn btn-success' %>
</div>
