<p id="notice"><%= notice %></p>

  <div class="panel panel-default">
    <div class="panel-heading"><%= @plan.name %></div>
    <div class="panel-body">
    <table class="table">
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Website</th>
      <th colspan="9"></th>
    </tr>

    <% @plan.tips.each do |tip| %>
      <tr>
        <td><%= tip.tip_type %></td>
        <td><%= tip.name %></td>
        <td><%= tip.description %></td>
        <td><%= tip.price %></td>
        <td><%= tip.website %></td>
        <td><%= link_to 'Show', tip %></td>
        <td><%= link_to '<i class="fa fa-edit fa-2x"></i>'.html_safe, edit_tip_path(tip) %></td>
        <td><%= link_to '<i class="fa fa-trash fa-2x"></i>'.html_safe, tip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
        </td>
      </tr>
    <% end %> 
    </table>
    </div>
  </div>


<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
