<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @plan.completed %>
</p>

<p>
  <strong>User:</strong>
  <%= @plan.user %>
</p>

<p>
  <strong>Tip:</strong>
  <%= @plan.tip %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
