<p id="notice"><%= notice %></p>

<img class="img-circle" src="<%= @account.picture %>" width="160" alt="" />

<div class="friend_unfriend" >
  <% unless current_user == @account.user %>
    <div id="friend_form" >
    <% if @relationship = Relationship.find_by(friender_id: @account.user.id, friendee_id: current_user.id) %>
      <% if @relationship.approved %>
        <%= render 'unfriend' %>
      <% else %>  
        <%= render 'accept_friendship' %>
        <
      <% end %>
    <% elsif @relationship = Relationship.find_by(friendee_id: @account.user.id, friender_id: current_user.id) %>
        <% if @relationship.approved %>
          <%= render 'unfriend' %>
        <% else %>  
          <%= render 'friendship_request' %>
        <% end %>
    <% else %>
      <%= render 'add_friend' %>
    <% end %>
    </div>
  <% end %>
</div>

<h1><%= @account.name %>'s Tips</h1>
<p><%= link_to 'Add tip', new_tip_path %></p>
<p><%= link_to 'Add planner', new_plan_path %></p>

<% @locations.each do |location| %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= location.city %>, <%= location.country %> <%= link_to 'Add tip', new_tip_path(location: location.id) %></div>
    <div class="panel-body">
    <table class="table">
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>

    <% location.tips.each do |tip| %>
      <tr>
        <td><%= tip.tip_type %></td>
        <td><%= tip.name %></td>
        <td><%= tip.description %></td>
        <td><%= tip.price %></td>
        <td><%= tip.website %></td>
        <td><%= link_to 'Show', tip %></td>
        <td><%= link_to '<i class="fa fa-edit fa-2x"></i>'.html_safe, edit_tip_path(tip) %></td>
        <td><%= link_to '<i class="fa fa-trash fa-2x"></i>'.html_safe, tip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %> 
    </table>
    </div>
  </div>
<% end %>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
