<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @account.picture %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @account.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @account.gender %>
</p>

<p>
  <strong>User:</strong>
  <%= @account.user %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
